<launch>
	<node name = "auv_model" pkg ="sosl_auv_sim" type = "auv_model">
	</node>
	<node name = "speed_controller" pkg = "sosl_auv_sim" type ="speed_controller">
		<param name = "c_speed" type="double" value ="0.7"/>
		<param name = "Kp" value ="800"/>
		<param name = "Ki" value ="400"/>
		<param name = "Kd" value ="200"/>
	</node>
	<node name = "heading_controller" pkg = "sosl_auv_sim" type ="heading_controller" output = "screen">
		<param name = "Kp" value ="1000"/>
		<param name = "Ki" value ="5"/>
		<param name = "Kd" value ="1000"/>
	</node>
	<node name = "rviz" pkg ="rviz" type="rviz"/>
	<node name = "map_to_auv" pkg ="tf" type ="static_transform_publisher" args ="0 0 0 0 0 0 map auv 100"/>
</launch>
